.question {
    display: flex;
    flex-direction: row;
    border-top: #000000 1px dashed;
}

.postStats {
    color: #000000; /* Text color */
    text-align: center;
    /* width: 10%; */
     background-color: #d6a692;
     /* Discord's blurple color  */
    padding: 5px; /* Add padding for spacing */
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    /* Subtle shadow */
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.question_count{
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_mid {
    width: 60%;
    margin-left: 25px;
}

.postTitle {
    color: rgb(20, 32, 55);
    font-weight: bold;
}

.question_tags {
    margin-top: 1%;
}

.question_tag_button {
    color: #ffffff;
    background: gray;
    border-width: 0;
    border-radius: 8px;
    margin-left: 2%;
    padding: 1% 3% 1% 3%;
}

.question_tag_button:first-child {
    margin-left: 0;
}

.lastActivity {
    width: 30%;
    display: flex;
    flex-direction: row;
}

.question_author {
    color: red;
    margin-right: 25px;
}

.question_meta {
    color: #434343;
    font-weight: bold;
}
